<main role="main" class="inner cover">
  <h1 class="cover-heading">About Me</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "me.jpg", width: 220, alt: "profile image" %>
      </div>

      <div class="col-md-8">

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Montes nascetur ridiculus mus mauris vitae ultricies leo integer. Laoreet id donec ultrices tincidunt. Quis hendrerit dolor magna eget est lorem ipsum dolor. Ullamcorper a lacus vestibulum sed. Sem integer vitae justo eget magna fermentum. Vel quam elementum pulvinar etiam non quam lacus. Bibendum enim facilisis gravida neque convallis a. Nisi scelerisque eu ultrices vitae. Posuere morbi leo urna molestie at elementum eu. Orci ac auctor augue mauris augue neque. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Sem et tortor consequat id. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Et pharetra pharetra massa massa ultricies mi. Felis eget nunc lobortis mattis aliquam faucibus. Vel facilisis volutpat est velit egestas dui id ornare arcu. Pharetra massa massa ultricies mi quis hendrerit dolor magna eget. Sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus.</p>

        <p class="lead">Facilisis gravida neque convallis a cras semper. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Nec nam aliquam sem et tortor. Adipiscing diam donec adipiscing tristique risus nec. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Auctor neque vitae tempus quam pellentesque. Ante in nibh mauris cursus mattis molestie a. Faucibus ornare suspendisse sed nisi lacus. Purus semper eget duis at tellus. Integer quis auctor elit sed. Tincidunt ornare massa eget egestas. Dignissim sodales ut eu sem integer vitae justo eget magna. Vivamus at augue eget arcu dictum varius duis at consectetur. Dolor sit amet consectetur adipiscing elit. Velit aliquet sagittis id consectetur purus ut. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Ultrices dui sapien eget mi proin sed.</p>

      </div>
    </div>
  </div>
</main>

